.monitorDeviceClass {
  .main {
    height: 100%;
    .left-slider {
      .main-logo {
        height: 80px;
        line-height: 80px;
        //width: 260px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .max-logo {
          //width: 230px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          img {

            margin-right: 10px;
          }

          span {
            margin-right: 5px;
            display: inline-block;
            //font-size: 20px;
            font-weight: 600;
            letter-spacing: 2px;
            margin-top: 6px;
          }
        }

        img.min-logo {
          width: 50px;
          height: 18px;
          display: block;
          margin: 0 14px 0 10px;

        }


        .logo-text {
          text-align: center;
          line-height: 60px;
        }
      }
    }

    .main-header {
      z-index: 99;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .main-tool {
        height: 80px;
        width: calc(100% - 260px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .main-trigger {
          height: 100%;
          display: inline-block;
        }

        .main-header-bar {
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .fullscreen {
            height: 100%;
            margin-right: 24px;
          }

          .themestatus {
            height: 100%;
            margin-right: 32px;
            i {
              cursor: pointer;
              display: inline-block;
              border: 1px solid;
              border-radius: 50px;
              text-align: center;
              box-sizing: border-box;
            }
          }
        }

      }
    }


    .uarName {
      font-size: 16px;
    }

    .side-menu-wrapper {
      min-height: 100vh;
      //padding-top: 20px;
    }

    .main-header-logo-collapsed {
      width: 60px;
    }


    .main-bread-crumb {
      display: inline-block;
      vertical-align: top;
      //margin-left: 15px;
    }

    .main-content {
      height: ~"calc(100% - 60px)";
      overflow: hidden;
      z-index: 88;
    }

    .main-content-wrapper {
      height: 100%;
      overflow: hidden;
    }

    .content {
      height: 100%;
      overflow: auto;
      padding: 30px;
      font-size: 14px;
    }


    .ivu-page {
      text-align: right;
      margin-top: 10px;
    }

    .main-view-wrapper {
      height: 100%;
      overflow: auto;
    }
  }

  .ivu-card {
    border-radius: 0px;
  }
}

@media (min-width: 1920px) {
  .left-slider {
    .main-logo{
      width: 260px;
    }
    .max-logo {
      width: 260px;
      img{
        width: 80px;
        height: 28px;
      }
      span {
        font-size: 22px;
      }
    }
  }
}//<=1919的设备
@media (max-width: 1919px) {
  .left-slider {
    .main-logo{
      width: 260px;
    }
    .max-logo {
      width: 260px;
      img{
        width: 67px;
        height: 24px;
      }
      span {
        font-size: 20px;
      }

    }
  }
}//<=1919的设备
@media (max-width: 1199px) {
  .left-slider {
    .main-logo{
      width: 214px;
    }
    .max-logo {
      width: 214px;
      img{
        width: 56px;
        height: 20px;
      }
      span {
        font-size: 16px;
      }
    }
  }
}//<=1199的设备
@media (max-width: 991px){
  .left-slider {
    .main-logo{
      width: 214px;
    }
    .max-logo {
      width: 214px;
      img{
        width: 50px;
        height: 18px;
      }
      span {
        font-size: 16px;
      }
    }
  }
}//<=991的设备
/*@media (max-width: 767px){
}//<=767的设备*/









//@media  (min-width: 768px ) and  (max-width: 992px )   { /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
//  .left-slider {
//    .main-logo{
//      width: 200px;
//    }
//    .max-logo {
//      width: 200px;
//      img{
//        width: 50px;
//        height: 20px;
//
//      }
//      span {
//        font-size: 16px;
//
//      }
//
//    }
//
//  }
//}
//
//@media  (min-width: 992px ) and (max-width: 1199px)  { /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
//  .left-slider {
//    .main-logo{
//      width: 200px;
//
//    }
//    .max-logo {
//      img{
//        width: 50px;
//        height: 20px;
//
//      }
//      span {
//        font-size: 16px;
//
//      }
//    }
//  }
//}
//@media  (min-width: 1200px ) and (max-width: 1920px) { /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
//  .left-slider {
//    .main-logo{
//      width: 260px;
//    }
//    .max-logo {
//      img{
//        width: 50px;
//        height: 20px;
//
//      }
//      span {
//        font-size: 16px;
//
//
//
//      }
//
//    }
//  }
//}
//@media  (min-width: 1920px ) { /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
//  .left-slider {
//    .main-logo{
//      width: 260px;
//    }
//    .max-logo {
//      img{
//        width: 80px;
//        height: 30px;
//
//      }
//      span {
//        font-size: 20px;
//
//
//
//      }
//
//    }
//  }
//}

