.edit_btn{
  width: 43px;
  height: 28px;
  border-radius: 20px;
  background-color: rgba(0,0,0,0);
  color: rgba(255,255,255,0.8);
}
.edit_btn:hover{
  background-color: #0080f9;
  color: rgba(255,255,255,0.8);
  border:1px solid #0080f9;
}
.text-right {
  text-align: right;
}
.edit_btn2{
  width: 43px;
  height: 28px;
  border-radius: 20px;
  background-color: rgba(0,0,0,0);
  color: rgba(255,255,255,0.8);
}
.edit_btn2:hover{
  background-color: #e33e3e;
  color: rgba(255,255,255,0.8);
  border:1px solid #e33e3e;
}
.edit_btn3{
  width: 43px;
  height: 28px;
  border-radius: 20px;
  background-color: rgba(0,0,0,0);
  color: rgba(255,255,255,0.8);
}
.edit_btn3:hover{
  background-color: #2fb685;
  color: rgba(255,255,255,0.8);
  border:1px solid #2fb685;
}

.edit_btn4{
  width: 43px;
  height: 28px;
  border-radius: 20px;
  background-color: rgba(0,0,0,0);
  color: rgba(255,255,255,0.8);
}
.edit_btn4:hover{
  background-color: #5bc0de;
  color: rgba(255,255,255,0.8);
  border:1px solid #5bc0de;
}

.edit_btn5{
  width: 43px;
  height: 28px;
  border-radius: 20px;
  background-color: rgba(0,0,0,0);
  color: rgba(255,255,255,0.8);
}
.edit_btn5:hover{
  background-color: mediumpurple;
  color: rgba(255,255,255,0.8);
  border:1px solid mediumpurple;
}


.edit_btn6{
  width: 43px;
  height: 28px;
  border-radius: 20px;
  background-color: rgba(0,0,0,0);
  color: rgba(255,255,255,0.8);
}
.edit_btn6:hover{
  background-color: #ec971f;
  color: rgba(255,255,255,0.8);
  border:1px solid #ec971f;
}


.ivu-table {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.65);
  background-color: rgba(0, 0, 0, 0);
}

.ivu-table th {
  background-color: rgba(52,114,255,0.1);
  /*border-radius:4px 4px 0px 0px;*/
}

.ivu-table-wrapper {
  border: none !important;
}

.ivu-table:before {
  content: '';
  width: 100%;
  height: 0px;
}

.ivu-table:after {
  content: '';
  width: 0px;
  height: 100%;
}

.ivu-table td, .ivu-table th {
  border-bottom: 1px solid rgba(111, 120, 151, 0.3);
}

.ivu-table td{
  background-color: rgba(0, 0, 0, 0);
}

.ivu-table-fixed-header .ivu-table td, .ivu-table th{
  background-color: #141821;
}
.ivu-table-fixed-body .ivu-table-tbody tr{
  background-color: #141821;
}



.ivu-table .ivu-table-row-highlight td{
  background-color: rgba(57, 114, 156, 0.5);
}


tr.ivu-table-row-hover td{
  background-color: #6f7897;
}


.ivu-table-stripe .ivu-table-body tr.ivu-table-row-hover td, .ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-hover td {
  background-color: #415dbe;
  color: rgba(255,255,255,0.8);
}

.ivu-table-row-highlight td, .ivu-table-stripe .ivu-table-body tr.ivu-table-row-highlight:nth-child(2n) td, .ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-highlight:nth-child(2n) td, tr.ivu-table-row-highlight.ivu-table-row-hover td {
  background-color: #415dbe
}

.page {
  margin-top: 20px;
}

.ivu-table-fixed-right::before{
  background-color: #000c17;
}
.ivu-table-fixed-right::after{
  background-color: #000c17;
}
.ivu-table-fixed::before{
  background-color: #000c17;
}

.ivu-btn-1{
  color: #FFFFFF;
  background-color: #ffffff00;
  border-radius: 20px;
}
.ivu-btn-2{
  color: #FFFFFF;
  background-color: #ffffff00;
}
.ivu-btn-3{
  color: #FFFFFF;
  background-color: #ffffff00;
}
.ivu-btn-1:hover {
  background-color: #0080f9;
}
.ivu-btn-2:hover {
  background-color: #e33e3e;
}
.ivu-btn-3:hover {
  background-color: #2fb685;
}



/**
operate内容
 */
.ivu-modal-header{
  background-color: #151925;
  border: 0px;

}
.ivu-modal-header-inner{
  color: #ffffff;
}
.ivu-modal-body{
  background-color: #151925;
  /*opacity: 0.85;*/
}
.ivu-modal-footer{
  border: 0px;
  background-color: #151925;
  /*opacity: 0.85;*/
}
.ivu-form .ivu-form-item-label{
  color: #ffffff;
}
.ivu-modal-confirm-head-title{
  color: #FFFFFF;
}

.stat-search{
  background-color: #fea230;
  border: 0;
  color: #ffffff;
  margin-right: 10px;
  margin-left: 15px;
}

.stat-reset{
  background-color: #2fb685;
  border: 0px;
  color: #ffffff;
}

.stat-output{
  background-color: #415dbe;
  float: right;
  border: 0px;
  color: #ffffff;
}
.ivu-tag-primary, .ivu-tag-primary.ivu-tag-dot{
  background-color: #ec971f;
  border-color: #525359;
}

.ivu-tag-primary, .ivu-tag-primary.ivu-tag-dot .ivu-tag-dot-inner {
  background: #6f7897;
  border-color: #525359;
}
.header-bar .custom-content-con{
  line-height: 44px;
}
.json-view-container{
  background-color: #1a1d2a !important;
}
.base-line{
  border-left-color: #444444 !important;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active:hover{
  background-color: #ffffff !important;
  color: #121319;
}

.ivu-tag-default{
  border-color: #525359;
  background: #121319;
}
.ivu-tag-text{
  color: #6f7897;
}
.ivu-tag-color-white{
  color: #afb8c7 !important;
}
.ivu-btn-small{
  padding: 0px;
}
.ivu-dropdown-item{
  background: #6f7897;
  color: #ffffff;
}
.ivu-dropdown-item:hover{
  background: #415dbe;
}
.ivu-modal-content{
  opacity: 0.85;
}
.json-key{
  color: #d9edf7 !important;
}
.json-value{
  color: #f7e1b5 !important;
}
.main .content-wrapper{
  border-left: 1px solid #2f3857;
  border-top: 1px solid #2f3857;
}
.ivu-layout-sider-children{
  border-left: 1px solid #2f3857;
}
.main .tag-nav-wrapper{
  border-left: 1px solid #2f3857;
  height: 33px;
}
.ivu-menu-submenu .ivu-menu-submenu-title{
  background: #121319 !important;
}
.ivu-menu-submenu .ivu-menu-item{
  background: #121319 !important;
}

.ivu-page-item{
  background-color: #121319 !important;
}
.ivu-page-next, .ivu-page-prev{
  background-color: #121319;
}

.ivu-card-head {
  border-bottom: 1px solid rgba(111,120,151,0.3);
}

